@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

body {
  font-family: "Oswald", Courier, monospace;
  font-weight: 300;
}

$root-font-size: 16px;
@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

html {
  font-size: 13px;
}

#app {
  overflow: hidden;
}

$blue-1: #00bbf2;
$blue-2: #009fda;
$blue-3: #63bef3;

$black: #231f20;

$gray-1: #515151;
$gray-2: #a7a9ac;
$gray-3: #e6e7e8;
$gray-4: #efeff0;
$gray-5: #bcbec0;
$gray-6: #ededed;
$gray-7: #808080;

/* UTILS */

span {
  &.h4 {
    font-size: 1.2rem;
    display: block;
    font-weight: 400;
  }

  &.h3 {
    font-size: 1rem;
    display: block;
  }

  &.h2 {
    font-size: 1.5rem;
    display: block;
  }
}

.bottom-offer {
  min-height: 100%;
}

.selected {
  opacity: 0.7;
}

.white {
  color: $gray-4;
}

.blue-1 {
  color: $blue-1;
  a {
    color: $blue-1;
    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }
}

.blue-2 {
  color: $blue-2;
}

.gray {
  color: $gray-5;
}

.skew {
  transform: skewX(0deg);
  display: inline-block;

  > * {
    transform: skewX(0deg);
    display: inline-block;
  }
}

.bbtn {
  cursor: pointer;
  padding: rem(17px) rem(63px);
  font-size: 1.3rem;
  font-weight: 400;

  &.blue {
    background-color: $blue-2;
    color: white;
    &:hover {
      background-color: $blue-3;
    }
  }

  &.main-search-button {
    width: 100%;
    text-align: center;
  }
}

ul.blue > li {
  background-color: $blue-1;
  color: white;
}

p.detail {
  font-size: 1rem;
  color: $gray-2;
  font-weight: 300;
}

input[type="number"].clean-input {
  outline: none;
  border: none;
  min-height: rem(22px);
  min-width: rem(20px);
  max-width: rem(50px);
  padding: rem(2px) rem(5px);
  font-size: rem(20px);
  line-height: rem(22px);
  color: $gray-2;
  text-align: left;
  &.error {
    color: red;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .clean-input:-moz-placeholder,
    .clean-input::-moz-placeholder {
      position: relative;
      top: 4px;
    }
    .clean-input::-webkit-input-placeholder {
      position: relative;
      top: 4px;
    }
    .clean-input:-ms-input-placeholder {
      position: relative;
      top: 4px;
    }
  }
}

/* NAVBAR */

.navbar {
  background-color: $gray-1;
}

.navbar-nav > * {
  margin-left: rem(15px);
}

.navbar .logo_img {
  padding: rem(14px) 0;
}

.navbar-dark .navbar-text a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-bottom: 1px solid;

  &:focus,
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.navbar .langs a {
  border-bottom: none;

  &.active {
    color: rgba(255, 255, 255, 0.75);
  }
}

/* FILTER */
.count-label {
  background: $blue-2;
  color: white;
  padding: 2px;
  border-radius: 50%;
  width: 20px;
  display: inline-block;
  text-align: center;
  height: 20px;
  position: absolute;
  right: -12px;
  top: -14px;
  font-size: 0.8em;
}
.filter {
  background-color: $gray-3;
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: rem(20px);
  padding-bottom: rem(10px);

  ul.main-filter {
    background-color: white;
    margin: 0;
    padding: 0;

    > li {
      color: $black;
      vertical-align: middle;
      margin: rem(7px) rem(10px) rem(8px);
      line-height: 1.25;

      &:not(:last-child)::after {
        content: "|";
        transform: skewX(-200deg);
        display: inline-block;
        margin: rem(-14px) rem(10px);
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        font-weight: 100;
        color: $gray-2;
      }
    }
  }

  .search-btn {
    cursor: pointer;
    background-color: $blue-1;
    color: white;
    padding: rem(17px) rem(64px);
  }

  .search-option {
    cursor: pointer; // color: $gray-1;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.detail-filter {
  background: white;
  width: calc(100% - 28px);
  max-width: rem(982px);
  display: block;
  padding-bottom: 1.8rem !important;
  ul {
    &.search-by-filter {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: rem(2px) rem(10px) rem(7px);
        margin: 0 rem(5px) rem(5px) 0;
        cursor: pointer;
        &:hover {
          background-color: $blue-2;
        }

        &.active {
          background-color: $blue-2;
          color: white;
          border-color: transparent;
        }
      }
    }

    &.search-by-tag-results {
      display: block;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      max-height: rem(173px);
      min-height: rem(173px);
      margin-bottom: rem(-30px);
      li {
        color: $gray-1;
        padding-left: 1.6em;
        padding-top: 0.2em;
        padding-bottom: 0.4em;
        cursor: pointer;

        &::before {
          content: "";
          display: inline-block;
          height: 1.15em;
          width: 1.1em;
          background-image: url(../img/icons/search.svg);
          background-repeat: no-repeat;
          background-position: center center;
          vertical-align: middle;
          margin-right: 0.5em;
          position: relative;
          top: rem(-2px);
        }
        &:hover {
          background-color: $gray-4;
        }

        &.empty-search-by-tag {
          cursor: default;
          opacity: 0.8;
        }
      }
    }
  }
}

ul {
  &.grey-border {
    li {
      border: 1px solid $gray-7;
      &:hover {
        background-color: $blue-1;
        border-color: $blue-1;
        color: #fff;
      }
    }
  }
}

ul {
  &.grey {
    li {
      background-color: $gray-7;
      color: #fff;
      &:hover {
        background-color: $blue-1;
        color: #fff;
      }

      &.active {
        background-color: $blue-1;
        color: #fff;
      }
    }
  }
}

/* TABS */

.tabs {
  background-color: $gray-4;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: rem(11px) rem(30px);
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      &.active {
        background-color: white;
      }
    }
  }
}

/* CONTENT */

.active-preview {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: rem(330px);
  max-width: 100%;
}

.other-preview {
  &::-webkit-scrollbar {
    display: none;
  }

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  max-height: rem(83px);
  max-width: 100%;

  img {
    max-width: 25%;
    max-height: rem(83px);
    cursor: pointer;
    margin-bottom: 1px;
    margin-left: 0;
  }
}

.content-wrapper {
  margin-top: rem(50px);
}

.desc .station:before {
  content: "";
  background: url(../img/1x/metro.png) no-repeat;
  width: rem(30px);
  height: rem(18px);
  display: inline-block;
}

.book-btn {
  overflow: hidden;

  > * {
    margin-left: rem(-15px);
  }
}

.show-more-btn {
  background: $gray-4;
  color: $gray-2;
  display: inline-block;
  width: 100%;
  text-align: center;
  &:hover {
    background: $gray-3;
  }
}

.bottom-offer {
  border-radius: rem(10px);
  overflow: hidden;
  background: $gray-4;
}

.offer-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: rem(100px);
  width: 100%;
}

.lock-icon {
  img {
    width: rem(15px);
    display: block;
  }
  .lock-icon-mob {
    display: none;
  }
}

.filter-vidy {
  .search-option {
    color: $gray-1;
  }
}

.filter-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../img/filter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
  }
}

.logo {
  width: rem(180px);
  img {
    width: 100%;
  }
}

.main-header {
  & > * {
    position: relative;
    z-index: 2;
  }
  & > .main-header-bg {
    z-index: 1;
  }
}

.main-header-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/main/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
  }
}

.navbar-dark .navbar-nav .lang-item .nav-link {
  color: #fff;
}

.filter-lg {
  padding-top: rem(100px);
  position: relative;
  .navbar-brand {
    margin-right: auto;
    width: 100%;
    max-width: rem(441px);
    display: block;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .search-option {
    color: white;
  }
}

.detail-filter {
  max-width: 100%;
}

.header-transparent {
  background-color: transparent !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 25;
}

.input-address-tags {
  height: 100%;
  position: relative;
  padding-left: rem(5px);
  padding-right: rem(5px);

  overflow: hidden;
  margin-right: 0;
  display: flex;
  margin-left: 0;
  flex: 1;
  align-items: baseline;

  .search-address-tags {
    // display: inline-block;
    list-style: none;
    margin: 0;
    padding: rem(10px) 0;
    max-width: rem(100px);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    white-space: nowrap;

    &.hidden-tags {
      padding-left: 15px;
      &::before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0.1em;
        z-index: 1;
        font-size: 1.5em;
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 0, 0, 0) 80%);
        cursor: pointer;
      }
    }

    li:not(.search-address-input) {
      display: inline-block;
      padding: rem(2px) rem(5px);
      margin: 0 rem(5px) rem(5px) 0;
      cursor: pointer;
      font-size: 0.8em;
      font-weight: 300;
      background: #e6e6e6;
      color: #000000;

      &::after {
        content: "";
      }

      &:hover {
        background-color: $blue-2;
      }
    }

    &.full-width {
      max-width: rem(315px);
      // max-width: rem(250px);
      // max-width: rem(250px);
      li:not(.search-address-input) {
        margin-bottom: 0;
      }
    }

    li.search-tags-input {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
  input {
    border: none;
    height: rem(50px);
    max-width: rem(130px);
    outline: none;
  }
}
.input-with-icon {
  height: 100%;
  position: relative;
  padding-left: rem(55px);
  padding-right: rem(80px);

  overflow: hidden;
  margin-right: 0;
  display: block;
  margin-left: 0;
  flex: 1;

  .search-tags {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: rem(10px) 0;
    max-width: 100%;

    li:not(.search-tags-input) {
      display: inline-block;
      padding: rem(2px) rem(5px);
      margin: 0 rem(5px) rem(5px) 0;
      cursor: pointer;
      font-size: 0.8em;
      font-weight: 300;
      background: #e6e6e6;
      color: #000000;

      &:hover {
        background-color: $blue-2;
      }
    }
    li.search-tags-input {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .bbtn-search {
    position: absolute;
    left: rem(15px);
    top: 50%;
    margin-top: rem(-12px);
  }
  input {
    border: none;
    height: rem(70px);
    max-width: 100%;
    outline: none;
  }
}

.bbtn-search {
  width: rem(25px);
  height: rem(25px);
  padding: 0;
  border: none;
  background-color: transparent;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.title-bg {
  font-size: rem(26px);
  line-height: rem(31px);
  letter-spacing: 0.65px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
  display: block;
}

.title-bg-row {
  margin-bottom: 4.2rem;
}

.grey-section {
  background-color: $gray-6;
}

.address-list {
  column-count: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: rem(5px);
  }
  a {
    color: #191919;
    font-size: rem(14px);
    line-height: rem(24px);
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $blue-1;
    }
  }
}

.show-more-item {
  color: #191919;
  font-size: rem(18px);
  line-height: rem(24px);
  opacity: 0.49;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #191919;
  }
  img {
    width: rem(10px);
    margin-left: rem(6px);
    margin-top: rem(6px);
  }
}

.logo-grey {
  width: rem(170px);
  img {
    width: 100%;
  }
}

.copyright {
  color: #b3b3b3;
  font-size: rem(14px);
  line-height: rem(15px);
  margin-left: rem(30px);
}

.footer {
  background-color: #ffffff;
  .navbar {
    background: none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #b3b3b3;
    font-size: rem(14px);
    line-height: rem(15px);
    display: inline-block;
    &:hover {
      color: #191919;
    }
  }
}
.footer-grey {
  background-color: #ededed;
  .footer {
    background-color: transparent;
  }
}

.navbar-light .navbar-nav .underline .nav-link {
  border-bottom: 1px solid;
  padding: 0;
}

.bbtn-sale {
  width: rem(40px);
  height: rem(40px);
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: rem(19px);
  line-height: 0;
  color: #fff;
  font-weight: 400;
  position: relative;
  span {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    border: none;
    background-color: transparent;
  }
}

.tooltip-skew {
  //background-color: #fff;
  .arrow {
    opacity: 0;
  }
  .tooltip-inner {
    background-color: #e8e8e8;
    color: #191919;
    font-size: rem(15px);
    line-height: rem(18px);
    font-weight: 400;
    border-radius: 0;
    transform: skewX(-20deg);
    text-align: left;
    padding-left: rem(25px);
    padding-right: rem(25px);
    display: block;
    font-family: "Oswald", sans-serif;
    span {
      transform: skewX(10deg);
      display: block;
    }
  }
}

.pagination {
  margin-bottom: 0;
}

.pagination-text {
  color: $blue-1;
  font-size: rem(16px);
  line-height: rem(24px);
  font-weight: 400;
}

.page-item {
  padding: 2px;
}

.pagination-sm .page-link {
  width: rem(35px);
  height: rem(35px);
  text-align: center;
  color: #000000;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(25px);
  padding: rem(5px);
  background-color: #f0f0f0;
  border: none;
  &:hover {
    border-color: $blue-2;
    background: $blue-2;
    color: #fff;
  }
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  border-color: $blue-2;
  background: $blue-2;
  color: #fff;
}

.filter-lg {
  a {
    &.search-option {
      color: white;

      &:hover {
        color: white;
      }
    }
  }
}

.detail-filter {
  a {
    &.search-option {
      color: $gray-7;
      &:hover {
        color: #1a1a1a;
      }
    }
  }
}

/*slider*/

.offers-slider {
  position: relative;
  margin: 0 rem(-15px);
  .slick-slide {
    padding: 0 rem(15px);
  }

  .slick-arrow {
    position: absolute;
    top: 45%;
    width: rem(14px);
    height: rem(40px);
    margin-top: rem(-25px);
    cursor: pointer;
    img {
      display: block;
      width: 100%;
    }
    &.slick-prev {
      left: rem(-15px);
    }

    &.slick-next {
      right: rem(-15px);
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
.slick-dots {
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  li {
    margin-right: rem(7px);
    line-height: 0;
    font-size: 0;
    &:last-child {
      margin-right: 0px;
    }
  }
  button {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    color: transparent;
    font-size: 0;
    line-height: 0;
    width: rem(12px);
    height: rem(12px);
    border: 1px solid #869a99;
    background: transparent;
    &:hover {
      background-color: #869a99;
    }
    &:focus {
      outline: none;
    }
  }
  li.slick-active button {
    background-color: #869a99;
    &:focus {
      outline: none;
    }
  }
}
.filter-left {
  max-width: calc(100% - 174px);
  min-width: calc(100% - 174px);
  ul.main-filter {
    width: calc(100% - 20px);
  }
}
.filter-tag-left {
  max-width: calc(100% - 246px);
  min-width: calc(100% - 246px);
}

.table-price {
  color: $blue-2;
}
.offers-table {
  color: #312a20;
  font-size: 0.82rem;
  line-height: 1.1rem;
  font-weight: 400;
  thead {
    border: none;
    &::before,
    &::after {
      display: none;
    }
  }
  thead th {
    border: none;
    white-space: nowrap;
    &:last-child {
      text-align: right;
    }
  }
  th {
    font-weight: 400;
  }
  th,
  td {
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
  }
  .border-top {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -100vw;
      top: -1px;
      width: 300vw;
      height: 1px;
      background: #c9c8c8;
    }
  }
  .table-sm th,
  .table-sm td {
    padding: 0.8rem 0.4rem;
  }
}
.table-name-company {
  display: inline-block;
  position: relative;
  max-width: rem(50px);
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }
}
.tabs .list-icons li {
  padding: 0;
  &:hover {
    background-color: transparent;
  }
}
.list-icons {
  display: flex;
  align-items: center;
  list-style: none;
  li {
    margin-right: 1rem;
    padding: 0;
    &:last-child {
      margin-right: 0rem;
    }
  }
  a {
    display: block;
    img {
      width: rem(20px);
      height: rem(30px);
    }
  }
}

.layout-rooms {
  &__title {
    background-color: #b3b3b3;
    display: flex;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 400;
    padding: 0.5rem 0.6rem;
    margin-bottom: 0.5rem;
    .devider {
      display: inline-block;
      padding: 0 1rem;
      vertical-align: top;
    }
  }
  &__row {
    display: flex;
  }
  &__left {
    width: 70%;
    padding-right: rem(15px);
    .custom-checkbox {
      margin-top: 8rem;
    }
  }
  &__right {
    width: 30%;
  }
  &__img {
    position: relative;
    max-width: rem(160px);
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
    }
  }
  &__total-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__direction {
    width: rem(60px);
    margin: rem(15px) auto 0;
    img {
      display: block;
      width: 100%;
    }
  }
  &__fav {
    font-size: 1rem;
    line-height: 1.1rem;
    display: flex;
    align-items: center;
    color: #191919;
    img {
      width: 1rem;
      height: 1rem;
      margin-right: 5px;
    }
  }
}

.layout-rooms-inf {
  display: table;
  color: #191919;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 400;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
  li {
    display: table-row;
  }
  span {
    display: table-cell;
    width: 50%;
    padding: 0.2rem 0;
  }
}
.layout-rooms-links {
  padding: 0;
  list-style: none;
  a {
    color: #191919;
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 400;
    &:hover {
      color: $blue-2;
    }
  }
}

//DEVELOPER PAGE BEGIN
.fullscreen-slider {
  height: 100vh;
  min-height: 700px;
  padding: 0;
  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    height: 100vh;
    min-height: 700px;
  }
  &__cont {
    height: 100vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__company {
    font-size: 1.9rem;
    line-height: 2.1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  &__star {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
  }
  &__title {
    background-color: #fff;
    font-size: 2.9rem;
    line-height: 3.2rem;
    display: block;
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    padding: 1rem 2rem 1.5rem;
    margin-bottom: 1rem;
  }
  &__descr {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 2rem;
    color: #fff;
  }
  .slick-arrow {
    position: absolute;
    top: 45%;
    width: rem(14px);
    height: rem(40px);
    margin-top: rem(-25px);
    cursor: pointer;
    z-index: 15;
    img {
      display: block;
      width: 100%;
    }
    &.slick-prev {
      left: rem(0px);
    }

    &.slick-next {
      right: rem(0px);
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .container {
    position: relative;
    z-index: 5;
    max-width: 950px;
  }
}
.fullscreen-slider-img.slick-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .fullscreen-slider__item {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #191919;
      opacity: 0.64;
    }
  }
}
.active-preview_sm {
  min-height: 12rem;
}
//DEVELOPER PAGE END
//OBJECT PAGE START
.slide-range {
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }
  &__title {
    color: #000000;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
  &__value {
    color: #000000;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
  .custom-range {
    width: 100%;
    height: 1.4rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.object-slider {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: 45%;
    width: rem(14px);
    height: rem(40px);
    margin-top: rem(-25px);
    cursor: pointer;
    z-index: 15;
    img {
      display: block;
      width: 100%;
    }
    &.slick-prev {
      left: rem(40px);
    }

    &.slick-next {
      right: rem(40px);
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
.object-slider-big {
  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30rem;
  }
}
.object-slider-sm.slick-slider {
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
}
.object-slider-sm {
  bottom: 10px;
  margin: 0 -4px;
  &__item {
    padding: 0 4px;
  }
  &__link {
    border: 2px solid #ffffff;
    display: block;
    cursor: pointer;
    display: block;
    img {
      display: block;
      max-width: 100%;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 45%;
  width: rem(14px);
  height: rem(40px);
  margin-top: rem(-25px);
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  &.slick-prev {
    left: rem(-15px);
  }

  &.slick-next {
    right: rem(-15px);
  }
  &:hover {
    opacity: 0.6;
  }
  &:focus {
    outline: none;
  }
}
.object-inf {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 1rem;
    &:last-child {
      margin: 0;
    }
  }
  span {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    display: block;
    &:first-child {
      color: #999999;
    }
  }
  &_table {
    display: table;
    width: 100%;
    margin-bottom: 2rem;
    max-width: 280px;
    li {
      display: table-row;
      margin-bottom: 0;
    }
    span {
      display: table-cell;
      width: 50%;
    }
  }
}
.icons-list {
  display: flex;
  align-items: center;
  margin: 0 -1rem;
  padding: 0;
  list-style: none;
  li {
    padding: 0 1rem;
  }
}
.bbtn-icon {
  height: 3rem;
  cursor: pointer;
  &:hover {
    opacity: 0.65;
  }
  img {
    height: 100%;
    width: auto;
  }
}
.back-icon {
  width: 20px;
  height: 40px;
  display: block;
  img {
    width: 100%;
  }
}
.object-rooms {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  .slick-slide {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
//OBJECT PAGE END

/* mobile-first responsibility*/

@media (min-width: 576px) {
  .other-preview {
    min-height: rem(300px);
    max-height: rem(330px);
    max-width: 100%;

    img {
      max-width: rem(110px);
      margin-left: 1px;
    }
  }
  .filter-lg {
    padding-bottom: rem(246px);
    padding-top: rem(126px);
  }
  .address-list a {
    font-size: rem(17px);
  }
}

@media (min-width: 768px) {
  .input-address-tags {
    .search-address-tags {
      &.full-width {
        max-width: rem(250px);
        li:not(.search-address-input) {
          margin-bottom: 0;
        }
      }
    }
  }

  .skew {
    transform: skewX(-200deg);

    > * {
      transform: skewX(200deg);
    }
  }

  .filter {
    padding-top: rem(70px);
    padding-bottom: rem(60px);

    ul.main-filter {
      margin: 0 rem(10px);
      padding: 0 rem(20px);
    }
  }
  .address-list {
    column-count: 3;
    margin-bottom: rem(8px);
  }

  .bbtn {
    &.main-search-button {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .filter-tag-left {
    flex: 1;
    max-width: 100%;
  }

  .input-with-icon {
    height: 100%;
    position: relative;
    padding-left: rem(55px);
    padding-right: rem(35px);
    overflow: hidden;
    margin-right: rem(10px);
    display: block;
    margin-left: rem(12px);

    .search-tags {
      display: block;
      list-style: none;
      margin: 0;
      padding: rem(16px) 0;
      li:not(.search-tags-input) {
        display: inline-block;
        padding: rem(2px) rem(10px);
        margin: 0 rem(5px) rem(5px) 0;
        cursor: pointer;
        font-size: 0.9em;
        font-weight: 400;

        &:hover {
          background-color: $blue-2;
        }
      }
      li.search-tags-input {
        width: 100%;
        max-width: 29%;
        background: transparent;
        display: inline-block;
        input {
          max-width: 100%;
        }
      }
    }

    .bbtn-search {
      position: absolute;
      left: rem(15px);
      top: 50%;
      margin-top: rem(-12px);
    }
    input {
      border: none;
      height: 100%;
      max-width: 29%;
      outline: none;
    }
    .search-tags + input {
      height: auto;
      min-height: rem(70px);
    }
  }
  .mobileFilter {
    display: none !important;
  }
  .detail-filter {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
    z-index: 2;
  }
  .mobile-search-input {
    display: none;
  }
}

@media (min-width: 992px) {
  .input-address-tags {
    .search-address-tags {
      &.full-width {
        max-width: rem(190px);
      }
    }
  }
  .slick-arrow {
    display: block;
  }

  .address-list {
    column-count: 5;
  }
}

@media (min-width: 1200px) {
  .address-list {
    column-count: 6;
  }
  .input-with-icon {
    padding-left: rem(80px);
  }
  .input-with-icon .bbtn-search {
    left: rem(42px);
    width: rem(22px);
    margin-top: rem(-13px);
  }
  .input-with-icon .bbtn-search img {
    max-width: 100%;
  }
  .main .filter {
    padding-top: 27vh;
    padding-bottom: rem(100px);
    min-height: 100vh;
  }

  .filter-wrap {
    max-height: rem(150px);
  }

  .filter-tag-left {
    & + .col-md-auto .main-search-button {
      background: none;
      background-image: url("../img/btn-tag.png");
      background-size: 100% 100%;
      transform: none !important;
      padding-left: rem(46px);
      padding-right: rem(46px);
      min-width: rem(208px);
      justify-content: center;
      span {
        transform: none !important;
      }
      &:hover {
        transform: none !important;
        background-color: transparent !important;
        opacity: 0.6;
      }
    }
  }

  .input-with-icon {
    margin-right: rem(-20px);
    background-image: url("../img/filter-input-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent !important;
    transform: none;
    margin-left: 0;
    & > * {
      transform: none;
    }
  }
  .filter-tag-left {
    & + .col-md-auto .main-search-button {
      background: none;
      background-image: url("../img/btn-tag.png");
      background-size: 100% 100%;
      transform: none !important;
      padding-left: rem(46px);
      padding-right: rem(46px);
      span {
        transform: none !important;
      }
      &:hover {
        transform: none !important;
        background-color: transparent !important;
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: 1200px) {
  .offers-table .table {
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .input-with-icon input {
    min-width: rem(172px);
  }
  .filter-tag-left {
    .input-with-icon {
      max-width: calc(100% - 29px);
    }
  }
  .bottom-offer {
    min-height: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  .main {
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      background: #fff;
      left: 0;
      width: calc(100% + rem(30px));
      position: relative;
      display: block !important;
      height: auto !important;
      .navbar-nav {
        background: #fff;
      }
    }
    .navbar-dark .navbar-text a {
      color: #353535;
    }
    .navbar-dark .navbar-nav .lang-item .nav-link {
      color: #353535;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: #353535;
    }
    .navbar .langs a.active {
      color: #353535;
      opacity: 0.5;
    }
    .navbar-dark .navbar-text {
      color: #353535;
    }
  }
  .main .navbar-dark .navbar-text:nth-child(1) {
    width: 100%;
  }
  .main .navbar-dark .navbar-text:nth-child(3) {
    width: 37px;
  }
  .main .navbar-dark .b-nav-dropdown {
    width: 100%;
  }
  .main .navbar-dark .navbar-nav {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main .navbar-dark .lock-icon {
    width: 20px;
  }
  .input-with-icon input {
    max-width: 52%;
  }
  .main .lock-icon img {
    display: none;
  }
  .main .lock-icon .lock-icon-mob {
    display: block;
  }
  .navbar-nav > * {
    margin-right: rem(15px);
  }
  .b-nav-dropdown {
    order: 6;
  }
  .dropdown-menu {
    margin-bottom: rem(15px);
  }
}

@media (max-width: 767px) {
  .bbtn.main-search-button {
    width: auto;
    margin-top: rem(15px);
    display: inline-block;
    padding-left: rem(30px);
    padding-right: rem(30px);
    padding-top: rem(10px);
    padding-bottom: rem(14px);
  }
  .mobileFilter .bbtn.main-search-button {
    width: calc(100% - 60px);
    margin-top: 0;
    display: block;
    padding: rem(17px) rem(63px);
  }
  .filter {
    padding-bottom: rem(30px);
  }
  .input-with-icon input {
    max-width: 100%;
  }
  .filter-left,
  .filter-tag-left,
  .filter-tag-left .input-with-icon {
    max-width: none;
  }
  .input-with-icon .search-tags {
    max-width: 92%;
    display: block;
    width: 100%;
    padding: 0;
  }
  li.search-tags-input {
    display: inline-block;
  }
  .mobileFilter .input-with-icon input {
    //height: rem(70px);
    height: auto;
    padding: 1px 0;
  }
  .mobileFilter .input-with-icon .search-tags {
    padding: rem(22px) 0;
  }
  .input-with-icon input {
    height: rem(60px);
  }
  .dropdown-item {
    padding: 0.2rem 0.8rem;
  }
  .bbtn-tags {
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0.8rem;
    margin-top: 0;
    right: 25px;
    img {
      vertical-align: top;
      max-width: 100%;
      height: 20px;
    }
  }
  .nav-mobile-top .col-2 {
    position: absolute;
  }
  .nav-mobile-top .col-9 {
    position: absolute;
    padding-left: 6.4rem;
  }
  .mobileFilter .bbtn-tags img {
    height: 1.7rem;
  }
  .input-with-icon .search-tags li.search-tags-input {
    display: none;
  }
  .mobileFilter .input-with-icon .search-tags {
    max-height: 164px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 0;
  }
  .mobileFilter .input-with-icon {
    padding-left: 5.4375rem;
  }
  .mobileFilter .input-with-icon .bbtn-search {
    left: 0;
    top: 1.96rem;
    display: none;
  }
  .tabs-with-icons {
    .col-auto {
      margin: 0.2rem auto 0.5rem;
    }
  }
  .filter-wrap:not(.mobileFilter) {
    .input-with-icon {
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .input-with-icon .search-tags {
      max-width: 100%;
    }
  }
  .filter-left {
    position: relative;
  }
  .filter-left .back-bbtn {
    position: absolute;
    left: 1.7rem;
    top: -0.9rem;
    width: 26px;
    height: 26px;
    outline: none;
    z-index: 5;
    img {
      vertical-align: top;
      width: 26px;
      height: 26px;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .filter-tag-left + .col-md-auto .main-search-button {
    min-width: 14rem;
  }
}
@media (min-width: 1450px) {
  .container {
    max-width: 1140px;
  }
  html {
    font-size: 16px;
  }
}

.mobileFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 500;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: rem(100px);
  margin: 0;

  .count-label {
    right: 0;
    top: 0;
  }

  .nav-mobile-top {
    height: rem(55px);
    border-bottom: 1px solid #bbb;
    position: fixed;
    width: 100%;
    z-index: 600;
    background: white;

    img {
      height: rem(32px);
    }
  }

  .input-address-tags {
    flex-direction: column;
    .search-address-tags {
      max-width: 100%;
      &.full-width {
        max-width: 100%;
      }

      &.hidden-tags {
        padding-left: 0;
        &::before {
          content: "";
          display: none;
        }
      }
    }
    input {
      width: 100%;
    }
  }

  ul.main-filter {
    background-color: white;
    margin: 0;
    margin-top: rem(57px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      color: $black;
      vertical-align: middle;
      margin: rem(7px) rem(10px);
      line-height: 1.25;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &:not(:last-child)::after {
        content: "";
        transform: skewX(0);
        display: inline-block;
        margin: 0;
        position: absolute;
        top: 0;
        font-size: 2.4rem;
        font-weight: 100;
        color: $gray-2;
      }
    }
  }
  .main-search-button {
    position: fixed;
    bottom: rem(15px);
    left: rem(30px);
    width: calc(100% - 60px);
    z-index: 1000;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0px;
      top: 100%;
      height: rem(15px);
      background: #fff;
      width: 100%;
    }
  }
  .main-filter li.main-filter__two-col {
    width: calc(50% - 1.45rem);
    display: inline-block;
    vertical-align: top;
  }

  .input-with-icon {
    input {
      width: 100%;
    }

    .bbtn {
      width: rem(25px);
      height: rem(25px);
      padding: 0;
      border: none;
      background-color: transparent;
      position: absolute;
      top: rem(29px);
      margin-top: 0;
    }

    .bbtn-details {
      right: rem(18px);
      top: 0.84rem;
      img {
        vertical-align: top;
      }
    }
    .bbtn-close {
      left: 0.75rem;
      top: 0.8rem;
      width: 26px;
      height: 26px;
      outline: none;
      img {
        vertical-align: top;
        width: 26px;
        height: 26px;
      }
    }

    .bbtn-search {
      top: rem(25px);
      left: rem(15px);
    }
  }

  .detail-filter {
    width: 100%;

    ul {
      &.search-by-tag-results {
        max-height: rem(200px);
        li {
          &::before {
            content: "";
            display: inline-block;
            height: 0;
            width: 0;
            background-image: none;
            margin-right: 0;
          }
          &:hover {
            background-color: $gray-4;
          }

          &.empty-search-by-tag {
            cursor: default;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.ymap-container {
  height: 100%;
  width: 100%;
}
