<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
</head>

<body>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="dark" class="main-header" v-click-outside="closeNav">
      <div class="main-header-bg"></div>
      <b-navbar-brand href="#" class="logo">
        <img src="./img/main/logo.svg" alt="" class="logo_img" />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text>
            <a href="#" class="header-link underlined">Как работать с площадкой</a>
          </b-nav-text>
          <b-nav-item-dropdown :text="location.name" right class="lang-item">
            <b-dropdown-item href="#" v-for="loc in locations" :key="loc.code">{{ loc.name }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
          <b-nav-item href="#" class="lock-icon">
            <img src="./img/icons/lock-open.svg" alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="filter filter-vidy">
      <b-container>
        <div @click.stop="detailFilter=false" class="filter-bg-vidy"></div>
        <!-- filter -->
        <b-row class="justify-content-md-center filter-wrap" :class="{mobileFilter:useMobileFilter&&detailFilter}">
          <b-col cols="12" md="12">
            <div v-click-outside="closeDetailFilter">
              <b-row class="justify-content-md-left no-gutters">
                <b-col cols="12" md="auto" class="media-body filter-tag-left" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                  <div class="skew bg-white input-with-icon" @click="focusInput">
                    <button class="bbtn bbtn-search">
                      <img src="img/icons/search.svg" alt="" />
                    </button>
                    <ul ref="search_tags" class="grey search-tags">
                      <li class="skew" v-for="(tag,i) in searchActiveResultsByTag" :key="'s-tag'+i" @click="removeVariantFromTagSearch(i)">
                        <span>{{tag}}</span>
                      </li>
                      <li class="search-tags-input">
                        <input v-model="searchText" @keydown.delete="deleteFilterResults" @keydown.enter="addToSearch(searchText)" :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'" type="text" ref="search_input" />
                      </li>
                    </ul>
                    <input v-model="searchText" @keydown.delete="deleteFilterResults" @keydown.enter="addToSearch(searchText)" :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'" type="text" ref="search_input" class="mobile-search-input" />
                    <template v-if="useMobileFilter&&detailFilter">
                      <button class="bbtn bbtn-details" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">
                        <img src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg" alt="" />
                      </button>
                      <button class="bbtn bbtn-close" @click.stop="detailFilter=false">
                        <img src="https://www.avito.st/mstatic/build/b9f88d28d55a16070079bbe097adff6a.svg" alt="" />
                      </button>
                    </template>
                  </div>
                </b-col>
                <b-col cols="12" md="auto" v-if="searchType===searchTypes.SEARCH_BY_FILTER" class="filter-left">
                  <b-row align-v="center" v-if="useMobileFilter" class="nav-mobile-top">
                    <b-col cols="2" class="text-center">
                      <div class="back-bbtn" @click="mobileCloseFromFilter">
                        <img src="https://www.avito.st/mstatic/build/7d10231595fa386f534c52c7b6c65372.svg" alt="close" />
                      </div>
                    </b-col>
                    <b-col cols="9"><span class="blue text-center">Фильтр</span></b-col>
                    <button class="bbtn-tags" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">
                      <img src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg" alt="" />
                    </button>
                  </b-row>

                  <ul class="skew main-filter" @click="detailFilter=true">
                    <li @click="setFilterParam('area')" class="main-filter__two-col"><span>Квартиру</span></li>
                    <li @click="setFilterParam('category')" class="main-filter__two-col"><span>Категория</span></li>
                    <li @click="setFilterParam('size')"><span>1.2 комн.</span></li>
                    <li class="main-filter__two-col">
                      <span>от
                        <input class="clean-input" placeholder="0" type="number" v-model.number="fromPrice" pattern="\d*" onKeyPress="if(this.value.length==4) return false;" />
                        млн/&#8381;</span>
                    </li>
                    <li class="main-filter__two-col">
                      <span>до
                        <input class="clean-input" placeholder="2500" type="number" v-model.number="upToPrice" pattern="\d*" onKeyPress="if(this.value.length==4) return false;" />
                        млн/&#8381;</span>
                    </li>
                    <li @click="setFilterParam('address')">
                      <span>Город, адрес, метро, район, ЖК<br />Москва</span>
                    </li>
                  </ul>
                </b-col>

                <b-col cols="12" md="auto">
                  <div class="bbtn blue skew main-search-button">
                    <span>{{searchButtonTitle}}</span>
                  </div>
                </b-col>
              </b-row>
              <b-row class="no-gutters justify-content-md-left" v-show="detailFilter">
                <div class="detail-filter mt-2 p-3">
                  <template v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                    <template v-if="currentFilterParam==='area'">
                      <b-row>
                        <b-col cols="12" md="2" :class="!useMobileFilter?'text-right':''">Жилая</b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey-border search-by-filter">
                            <li class="skew" :class="{active:item.active}" @click="item.active=!item.active" v-for="(item,i) in areas.live" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                      <b-row class="mt-3">
                        <b-col cols="12" md="2" :class="!useMobileFilter?'text-right':''">Коммерческая</b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey search-by-filter">
                            <li class="skew" :class="{active:item.active}" @click="item.active=!item.active" v-for="(item,i) in areas.commercial" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                    </template>
                    <template v-if="currentFilterParam==='area'"></template>
                    <template v-if="currentFilterParam==='category'">
                      содержание фильтра category
                    </template>
                    <template v-if="currentFilterParam==='size'">
                      содержание фильтра size
                    </template>
                    <template v-if="currentFilterParam==='address'">
                      содержание фильтра address
                    </template>
                  </template>
                  <template v-if="searchType===searchTypes.SEARCH_BY_TAG">
                    <b-row>
                      <ul class="search-by-tag-results">
                        <li class="empty-search-by-tag" v-if="!searchResultsByTag.length">
                          Нет данных, введите другой запрос
                        </li>
                        <li v-for="(res,i) in searchResultsByTag" :key="'res'+i" @click="addToSearch(res)">
                          {{res}}
                        </li>
                      </ul>
                    </b-row>
                  </template>
                  <b-row v-if="!useMobileFilter" class="pt-5 justify-content-md-center">
                    <b-col cols="6" sm="6" lg="3" class="text-center">
                      <a class="search-option">Поиск по карте</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                      <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по тегам</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                      <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по
                        фильтру</a>
                    </b-col>
                  </b-row>
                </div>
              </b-row>
            </div>
            <b-row class="pt-5 justify-content-md-center" v-show="!detailFilter">
              <b-col cols="6" sm="6" lg="2" class="text-center">
                <a class="search-option">Поиск по карте</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по тегам</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по фильтру</a>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
    <div class="tabs tabs-with-icons">
      <b-container>
        <b-row class="align-items-center">
          <b-col cols="auto ml-auto">
            <ul class="list-icons">
              <li>
                <a href="#" id="pdf-save"><img src="img/icons/pdf.svg" alt=""></a>
                <b-tooltip target="pdf-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Сохранить в PDF</span></span>
                </b-tooltip>
              </li>
              <li>
                <a href="#" id="message-save"><img src="img/icons/message.svg" alt=""></a>
                <b-tooltip target="message-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Отправить письмом</span></span>
                </b-tooltip>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <b-container class="pb-4 pt-4">
      <a href="#" class="back-icon"><img src="img/icons/arr-slider-left.svg" alt=""></a>
      <h1 class="blue-1">ЖК «Румянцево-Парк» СМУ 134</h1>
      <b-row>
        <b-col cols="8">
          <div class="object-slider">
            <slick ref="slick" :options="slickObjectGig" class="object-slider-big slider-for">
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
              <div class="object-slider-big__item" style="background-image: url(./img/big-house.jpg);"></div>
            </slick>
            <slick ref="slick" :options="slickObjectSm" class="object-slider-sm  slider-nav ">
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
              <div class="object-slider-sm__item">
                <span class="object-slider-sm__link"><img src="./img/big-house.jpg" alt=""></span>
              </div>
            </slick>
          </div>
        </b-col>
        <b-col cols="4">
          <ul class="object-inf object-inf_table">
            <li>
              <span>Класс жилья</span>
              <span>Дом и парк 987</span>
            </li>
            <li>
              <span>Класс жилья</span>
              <span>бизнес</span>
            </li>
            <li>
              <span>Квартиры от</span>
              <span>23,2 до 104,4 м²</span>
            </li>
            <li>
              <span>Срок сдачи</span>
              <span>2 кв. 2020 - 4 кв. 2022</span>
            </li>
          </ul>
          <b-row>
            <b-col cols="6">
              <ul class="object-inf">
                <li>
                  <span>Тип договора</span>
                  <span>ДДУ, 214 ФЗ </span>
                </li>
                <li>
                  <span>Очереди</span>
                  <span>5</span>
                </li>
                <li>
                  <span>Число квартир </span>
                  <span>1708</span>
                </li>
                <li>
                  <span>Машиноместа в паркинге </span>
                  <span>ДДУ, 214 ФЗ </span>
                </li>
                <li>
                  <span>Высота потолков</span>
                  <span>кирпичный</span>
                </li>
              </ul>
            </b-col>
            <b-col cols="6">
              <ul class="object-inf">
                <li>
                  <span>Число корпусов</span>
                  <span>5</span>
                </li>
                <li>
                  <span>Этажность</span>
                  <span>1708 </span>
                </li>
                <li>
                  <span>Тип дома</span>
                  <span>кирпичный</span>
                </li>
                <li>
                  <span>Отделка</span>
                  <span>под ключ</span>
                </li>
              </ul>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col cols="10">
          <p>Просторная однокомнатная кварром районе Химок. Общая ппная.
            Выполнен качественный ремонтттлая, просторная. Балкон застеклен, вид на Ленинградссом школы, детские сады, ТРЦ Мега,
            каток "Мега Химки", кинотеатр IMAX, ИКЕЯ. В шаговой доступности остановки общщо транспорта до метро Планерная, Беломорскк
            Речной вокзал, до ж/д станции Химки. Оппльтации брокеров, преференнтечным кредитам в
            банках-партнерах для нашшов снижают процентные ставки, ииально рассматривают заеммльшими официальными
            зарплатами! Звоните. Компания Этажи гарантирует своим клиентам безопассторой Покупатель получает сертификат о
            финансовой гарантии в размере 10 млннлей.</p>
        </b-col>
        <b-col cols="2">
          <div class="book-btn">
            <div class="bbtn blue skew">
              <span>Презентация</span>
            </div>
          </div>
          <ul class="icons-list">
            <li>
              <div id="icon-1" class="bbtn-icon">
                <img src="img/icons/sale.svg" alt="" />
              </div>
              <b-tooltip target="icon-1" placement="bottomright" custom-class="tooltip-skew">
                <span class="skew"><span>Процент происходит от суммы сделки менеджера и собаки с лицом человека</span></span>
              </b-tooltip>
            </li>
            <li>
              <div id="icon-2" class="bbtn-icon">
                <img src="img/icons/pram.svg" alt="" />
              </div>
              <b-tooltip target="icon-2" placement="bottomright" custom-class="tooltip-skew">
                <span class="skew"><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor h</span></span>
              </b-tooltip>
            </li>
            <li>
              <div id="icon-3" class="bbtn-icon">
                <img src="img/icons/home.svg" alt="" />
              </div>
              <b-tooltip target="icon-3" placement="bottomright" custom-class="tooltip-skew">
                <span class="skew"><span>Менеджера и собаки с лицом человека</span></span>
              </b-tooltip>
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <slick ref="slick" :options="slickObject" class="object-rooms">
        <div class="layout-rooms">
          <div class="layout-rooms__title">
            <div class="layout-rooms__left">25,6</div>
            <a href="#" class="layout-rooms__fav">
              <img src="img/icons/star-border.svg" alt="">
              <span>В избранное</span>
            </a>
          </div>
          <div class="layout-rooms__cont">
            <ul class="layout-rooms-inf">
              <li>
                <span>Объект</span>
                <span>ЖК Кремневая долина</span>
              </li>
              <li>
                <span>Этаэ</span>
                <span>5</span>
              </li>
              <li>
                <span>Отделка</span>
                <span>Черновая отделка</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Застройщик</span>
                <span>Четвре вора</span>
              </li>
              <li>
                <span>Площадь кухни</span>
                <span>2,3</span>
              </li>
              <li>
                <span>Площадь комнат</span>
                <span>9,4</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Адре</span>
                <span>Таганский пер. дом 34, корп. 45</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Цена</span>
                <span class="table-price">45 467 549 ₽</span>
              </li>
              <li>
                <span>Размер вознаграждения</span>
                <span class="table-price">42 467 549 ₽</span>
              </li>
            </ul>
            <div class="layout-rooms__row">
              <div class="layout-rooms__left">
                <b-form-checkbox size="sm" v-model="mortgage">Требуется ипотека</b-form-checkbox>
                <div v-if="!mortgage">
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Отправить</span>
                    </div>
                  </div>
                </div>
                <div v-else>

                  <div class="price blue-2">7 000 000 ₽ </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-1" class="slide-range__title">Ежемесячный платеж</label>
                      <span class="slide-range__value">{{ rangePrice }} ₽</span>
                    </div>
                    <b-form-input id="range-1" v-model="rangePrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Первоначальный взнос</label>
                      <span class="slide-range__value">{{ startPrice }} ₽</span>
                    </div>
                    <b-form-input id="range-2" v-model="startPrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Срок кредита</label>
                      <span class="slide-range__value">{{ age }} лет</span>
                    </div>
                    <b-form-input id="range-2" v-model="age" type="range" min="0" max="20"></b-form-input>
                  </div>
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Подать заявку</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="layout-rooms__right">
                <div class="layout-rooms__img">
                  <div class="layout-rooms__total-area">25,6</div>
                  <img src="img/layout-room.png" alt="">
                </div>
                <div class="layout-rooms__direction"><img src="img/icons/deriction.svg" alt=""></div>
              </div>
            </div>

          </div>
        </div>
        <div class="layout-rooms">
          <div class="layout-rooms__title">
            <div class="layout-rooms__left">25,6</div>
            <a href="#" class="layout-rooms__fav">
              <img src="img/icons/star-border.svg" alt="">
              <span>В избранное</span>
            </a>
          </div>
          <div class="layout-rooms__cont">
            <ul class="layout-rooms-inf">
              <li>
                <span>Объект</span>
                <span>ЖК Кремневая долина</span>
              </li>
              <li>
                <span>Этаэ</span>
                <span>5</span>
              </li>
              <li>
                <span>Отделка</span>
                <span>Черновая отделка</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Застройщик</span>
                <span>Четвре вора</span>
              </li>
              <li>
                <span>Площадь кухни</span>
                <span>2,3</span>
              </li>
              <li>
                <span>Площадь комнат</span>
                <span>9,4</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Адре</span>
                <span>Таганский пер. дом 34, корп. 45</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Цена</span>
                <span class="table-price">45 467 549 ₽</span>
              </li>
              <li>
                <span>Размер вознаграждения</span>
                <span class="table-price">42 467 549 ₽</span>
              </li>
            </ul>
            <div class="layout-rooms__row">
              <div class="layout-rooms__left">
                <b-form-checkbox size="sm" v-model="mortgage">Требуется ипотека</b-form-checkbox>
                <div v-if="!mortgage">
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Отправить</span>
                    </div>
                  </div>
                </div>
                <div v-else>

                  <div class="price blue-2">7 000 000 ₽ </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-1" class="slide-range__title">Ежемесячный платеж</label>
                      <span class="slide-range__value">{{ rangePrice }} ₽</span>
                    </div>
                    <b-form-input id="range-1" v-model="rangePrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Первоначальный взнос</label>
                      <span class="slide-range__value">{{ startPrice }} ₽</span>
                    </div>
                    <b-form-input id="range-2" v-model="startPrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Срок кредита</label>
                      <span class="slide-range__value">{{ age }} лет</span>
                    </div>
                    <b-form-input id="range-2" v-model="age" type="range" min="0" max="20"></b-form-input>
                  </div>
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Подать заявку</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="layout-rooms__right">
                <div class="layout-rooms__img">
                  <div class="layout-rooms__total-area">25,6</div>
                  <img src="img/layout-room.png" alt="">
                </div>
                <div class="layout-rooms__direction"><img src="img/icons/deriction.svg" alt=""></div>
              </div>
            </div>

          </div>
        </div>
        <div class="layout-rooms">
          <div class="layout-rooms__title">
            <div class="layout-rooms__left">25,6</div>
            <a href="#" class="layout-rooms__fav">
              <img src="img/icons/star-border.svg" alt="">
              <span>В избранное</span>
            </a>
          </div>
          <div class="layout-rooms__cont">
            <ul class="layout-rooms-inf">
              <li>
                <span>Объект</span>
                <span>ЖК Кремневая долина</span>
              </li>
              <li>
                <span>Этаэ</span>
                <span>5</span>
              </li>
              <li>
                <span>Отделка</span>
                <span>Черновая отделка</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Застройщик</span>
                <span>Четвре вора</span>
              </li>
              <li>
                <span>Площадь кухни</span>
                <span>2,3</span>
              </li>
              <li>
                <span>Площадь комнат</span>
                <span>9,4</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Адре</span>
                <span>Таганский пер. дом 34, корп. 45</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Цена</span>
                <span class="table-price">45 467 549 ₽</span>
              </li>
              <li>
                <span>Размер вознаграждения</span>
                <span class="table-price">42 467 549 ₽</span>
              </li>
            </ul>
            <div class="layout-rooms__row">
              <div class="layout-rooms__left">
                <b-form-checkbox size="sm" v-model="mortgage">Требуется ипотека</b-form-checkbox>
                <div v-if="!mortgage">
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Отправить</span>
                    </div>
                  </div>
                </div>
                <div v-else>

                  <div class="price blue-2">7 000 000 ₽ </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-1" class="slide-range__title">Ежемесячный платеж</label>
                      <span class="slide-range__value">{{ rangePrice }} ₽</span>
                    </div>
                    <b-form-input id="range-1" v-model="rangePrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Первоначальный взнос</label>
                      <span class="slide-range__value">{{ startPrice }} ₽</span>
                    </div>
                    <b-form-input id="range-2" v-model="startPrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Срок кредита</label>
                      <span class="slide-range__value">{{ age }} лет</span>
                    </div>
                    <b-form-input id="range-2" v-model="age" type="range" min="0" max="20"></b-form-input>
                  </div>
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Подать заявку</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="layout-rooms__right">
                <div class="layout-rooms__img">
                  <div class="layout-rooms__total-area">25,6</div>
                  <img src="img/layout-room.png" alt="">
                </div>
                <div class="layout-rooms__direction"><img src="img/icons/deriction.svg" alt=""></div>
              </div>
            </div>

          </div>
        </div>
        <div class="layout-rooms">
          <div class="layout-rooms__title">
            <div class="layout-rooms__left">25,6</div>
            <a href="#" class="layout-rooms__fav">
              <img src="img/icons/star-border.svg" alt="">
              <span>В избранное</span>
            </a>
          </div>
          <div class="layout-rooms__cont">
            <ul class="layout-rooms-inf">
              <li>
                <span>Объект</span>
                <span>ЖК Кремневая долина</span>
              </li>
              <li>
                <span>Этаэ</span>
                <span>5</span>
              </li>
              <li>
                <span>Отделка</span>
                <span>Черновая отделка</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Застройщик</span>
                <span>Четвре вора</span>
              </li>
              <li>
                <span>Площадь кухни</span>
                <span>2,3</span>
              </li>
              <li>
                <span>Площадь комнат</span>
                <span>9,4</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Адре</span>
                <span>Таганский пер. дом 34, корп. 45</span>
              </li>
            </ul>
            <ul class="layout-rooms-inf">
              <li>
                <span>Цена</span>
                <span class="table-price">45 467 549 ₽</span>
              </li>
              <li>
                <span>Размер вознаграждения</span>
                <span class="table-price">42 467 549 ₽</span>
              </li>
            </ul>
            <div class="layout-rooms__row">
              <div class="layout-rooms__left">
                <b-form-checkbox size="sm" v-model="mortgage">Требуется ипотека</b-form-checkbox>
                <div v-if="!mortgage">
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Отправить</span>
                    </div>
                  </div>
                </div>
                <div v-else>

                  <div class="price blue-2">7 000 000 ₽ </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-1" class="slide-range__title">Ежемесячный платеж</label>
                      <span class="slide-range__value">{{ rangePrice }} ₽</span>
                    </div>
                    <b-form-input id="range-1" v-model="rangePrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Первоначальный взнос</label>
                      <span class="slide-range__value">{{ startPrice }} ₽</span>
                    </div>
                    <b-form-input id="range-2" v-model="startPrice" type="range" min="0" max="5000000000"></b-form-input>
                  </div>
                  <div class="slide-range">
                    <div class="slide-range__row">
                      <label for="range-2" class="slide-range__title">Срок кредита</label>
                      <span class="slide-range__value">{{ age }} лет</span>
                    </div>
                    <b-form-input id="range-2" v-model="age" type="range" min="0" max="20"></b-form-input>
                  </div>
                  <div class="book-btn">
                    <div class="bbtn blue skew">
                      <span>Подать заявку</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="layout-rooms__right">
                <div class="layout-rooms__img">
                  <div class="layout-rooms__total-area">25,6</div>
                  <img src="img/layout-room.png" alt="">
                </div>
                <div class="layout-rooms__direction"><img src="img/icons/deriction.svg" alt=""></div>
              </div>
            </div>

          </div>
        </div>
      </slick>
    </b-container>   
    <div class="bottom-offers mt-4 mb-5">
      <b-container>
        <span class="h4">Другие предложения от этого застройщика</span>
        <div class="offers-slider">
          <slick ref="slick" :options="slickOptions">
            <div v-for="(offer,i) in offers.concat(offers)" :key="'offer-'+i" style="width:150px">
              <div class="bottom-offer mb-3">
                <div class="offer-header" :style="{'background-image': 'url('+offer.img+')'}"></div>
                <div class="p-3">
                  <span class="h3 blue-1"><a href="#">{{ offer.title }}</a></span>
                  <span class="mt-3 h3">{{ offer.price }}</span>
                  <span class="mt-3 h3 gray">{{ offer.address }}</span>
                </div>
              </div>
            </div>
          </slick>
        </div>
      </b-container>
    </div>
    <div class="footer-grey ">
      <b-container class="footer  p-3">
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <b-navbar-brand href="#" class="logo-grey">
              <img src="./img/main/logo-grey.svg" alt="" class="logo_img" />
            </b-navbar-brand>
            <span class="copyright">2019 © </span>
          </b-col>
          <b-col cols="auto">
            <b-navbar toggleable="lg" type="light">
              <b-navbar-nav>
                <b-nav-item href="#" class="underline">Написать в поддержку</b-nav-item>
                <b-nav-item href="#" class="underline">Система вознаграждений</b-nav-item>
              </b-navbar-nav>
            </b-navbar>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>