<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
</head>

<body>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="dark" class="main-header" v-click-outside="closeNav">
      <div class="main-header-bg"></div>
      <b-navbar-brand href="#" class="logo">
        <img src="./img/main/logo.svg" alt="" class="logo_img" />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text>
            <a href="#" class="header-link underlined">Как работать с площадкой</a>
          </b-nav-text>
          <b-nav-item-dropdown :text="location.name" right class="lang-item">
            <b-dropdown-item href="#" v-for="loc in locations" :key="loc.code">{{ loc.name }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
          <b-nav-item href="#" class="lock-icon">
            <img src="./img/icons/lock-open.svg" alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="filter filter-vidy">
      <b-container>
        <div @click.stop="detailFilter=false" class="filter-bg-vidy"></div>
        <!-- filter -->
        <b-row class="justify-content-md-center filter-wrap" :class="{mobileFilter:useMobileFilter&&detailFilter}">
          <b-col cols="12" md="12">
            <div v-click-outside="closeDetailFilter">
              <b-row class="justify-content-md-left no-gutters">
                <b-col cols="12" md="auto" class="media-body filter-tag-left"
                  v-if="searchType===searchTypes.SEARCH_BY_TAG">
                  <div class="skew bg-white input-with-icon" @click="focusInput">
                    <button class="bbtn bbtn-search">
                      <img src="img/icons/search.svg" alt="" />
                    </button>
                    <ul
                      ref="search_tags"
                      class="grey search-tags"
                    >
                      <li class="skew" v-for="(tag,i) in searchActiveResultsByTag" :key="'s-tag'+i"
                        @click="removeVariantFromTagSearch(i)">
                        <span>{{tag}}</span>
                      </li>
                      <li class="search-tags-input">
                        <input
                          v-model="searchText"
                          @keydown.delete="deleteFilterResults"
                          @keydown.enter="addToSearch(searchText)"
                          :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                          type="text"
                          ref="search_input"
                        />
                      </li>
                    </ul>
                    <input
                      v-model="searchText"
                      @keydown.delete="deleteFilterResults"
                      @keydown.enter="addToSearch(searchText)"
                      :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                      type="text"
                      ref="search_input"
                      class="mobile-search-input"
                    />
                    <template v-if="useMobileFilter&&detailFilter">
                      <button class="bbtn bbtn-details" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">
                        <img src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg" alt="" />
                      </button>
                      <button class="bbtn bbtn-close" @click.stop="detailFilter=false">
                        <img src="https://www.avito.st/mstatic/build/b9f88d28d55a16070079bbe097adff6a.svg" alt="" />
                      </button>
                    </template>
                  </div>
                </b-col>
                <b-col cols="12" md="auto" v-if="searchType===searchTypes.SEARCH_BY_FILTER" class="filter-left">
                  <b-row align-v="center" v-if="useMobileFilter" class="nav-mobile-top">
                    <b-col cols="2" class="text-center">
                      <div class="back-bbtn" @click="mobileCloseFromFilter">
                        <img src="https://www.avito.st/mstatic/build/7d10231595fa386f534c52c7b6c65372.svg"
                          alt="close" />
                      </div>
                    </b-col>
                    <b-col cols="9"><span class="blue text-center">Фильтр</span></b-col>
                    <button
                      class="bbtn-tags"
                      @click="showMainFilter(searchTypes.SEARCH_BY_TAG)"
                    >
                      <img
                        src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg"
                        alt=""
                      />
                    </button>
                  </b-row>

                  <ul class="skew main-filter" @click="detailFilter=true">
                    <li @click="setFilterParam('area')" class="main-filter__two-col"><span>Квартиру</span></li>
                    <li @click="setFilterParam('category')"  class="main-filter__two-col"><span>Категория</span></li>
                    <li @click="setFilterParam('size')"><span>1.2 комн.</span></li>
                    <li  class="main-filter__two-col">
                      <span
                        >от
                        <input
                          class="clean-input"
                          placeholder="0"
                          type="number"
                          v-model.number="fromPrice"
                          pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;"
                        />
                        млн/&#8381;</span
                      >
                    </li>
                    <li  class="main-filter__two-col">
                      <span
                        >до
                        <input
                          class="clean-input"
                          placeholder="2500"
                          type="number"
                          v-model.number="upToPrice"
                          pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;"
                        />
                        млн/&#8381;</span
                      >
                    </li>
                    <li @click="setFilterParam('address')">
                      <span>Город, адрес, метро, район, ЖК<br />Москва</span>
                    </li>
                  </ul>
                </b-col>

                <b-col cols="12" md="auto">
                  <div class="bbtn blue skew main-search-button">
                    <span>{{searchButtonTitle}}</span>
                  </div>
                </b-col>
              </b-row>
              <b-row class="no-gutters justify-content-md-left" v-show="detailFilter">
                <div class="detail-filter mt-2 p-3">
                  <template v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                    <template v-if="currentFilterParam==='area'">
                      <b-row>
                        <b-col cols="12" md="2" :class="!useMobileFilter?'text-right':''">Жилая</b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey-border search-by-filter">
                            <li class="skew" :class="{active:item.active}" @click="item.active=!item.active"
                              v-for="(item,i) in areas.live" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                      <b-row class="mt-3">
                        <b-col cols="12" md="2" :class="!useMobileFilter?'text-right':''">Коммерческая</b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey search-by-filter">
                            <li class="skew" :class="{active:item.active}" @click="item.active=!item.active"
                              v-for="(item,i) in areas.commercial" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                    </template>
                    <template v-if="currentFilterParam==='area'"></template>
                    <template v-if="currentFilterParam==='category'">
                      содержание фильтра category
                    </template>
                    <template v-if="currentFilterParam==='size'">
                      содержание фильтра size
                    </template>
                    <template v-if="currentFilterParam==='address'">
                      содержание фильтра address
                    </template>
                  </template>
                  <template v-if="searchType===searchTypes.SEARCH_BY_TAG">
                    <b-row>
                      <ul class="search-by-tag-results">
                        <li class="empty-search-by-tag" v-if="!searchResultsByTag.length">
                          Нет данных, введите другой запрос
                        </li>
                        <li v-for="(res,i) in searchResultsByTag" :key="'res'+i" @click="addToSearch(res)">
                          {{res}}
                        </li>
                      </ul>
                    </b-row>
                  </template>
                  <b-row v-if="!useMobileFilter" class="pt-5 justify-content-md-center">
                    <b-col cols="6" sm="6" lg="3" class="text-center">
                      <a class="search-option">Поиск по карте</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                      <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по тегам</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                      <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по
                        фильтру</a>
                    </b-col>
                  </b-row>
                </div>
              </b-row>
            </div>
            <b-row class="pt-5 justify-content-md-center" v-show="!detailFilter">
              <b-col cols="6" sm="6" lg="2" class="text-center">
                <a class="search-option">Поиск по карте</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по тегам</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по фильтру</a>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
    <div class="tabs">
      <b-container>
        <ul>
          <li v-for="view in views" :key="view.code" @click="setView(view)" :class="{ skew:true, active:view.isActive }">
            <span>{{ view.name }}</span>
          </li>
        </ul>
      </b-container>
    </div>
    <div class="content-wrapper" v-for="view in views" :key="view.code">
      <b-container v-if="view.isActive&&view.code==='general'">
        <b-row v-for="(item,i) in items" :key="i" class="mb-5">
          <b-col cols="12" sm="12" lg="5">
            <b-row no-gutters>
              <b-col cols="12" sm="9" class="active-preview" :style="{'background-image': 'url('+item.selectedPicture.src||item.selectedPicture.href+')'}">
              </b-col>
              <b-col cols="12" sm="3" class="other-preview">
                <img v-for="(pic,pIdx) in item.pictures" :key="'slide-pic-' + pIdx" :class="{selected: item.selectedPicture.src===pic.src}" :src="pic.src||pic.href" :alt="pic.alt" @click="item.selectedPicture = pic" />
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="12" sm="12" lg="4" class="desc">
            <div class="d-lg-none mt-3"></div>
            <span class="h3 blue-2">{{ item.discount }}</span>
            <span class="h3">{{ item.title }}</span>
            <span class="h3 station">{{ item.station }}</span>
            <!-- responsible-divider -->
            <div class="d-lg-none mt-3"></div>
            <div class="d-none d-lg-block mt-5"></div>
            <p class="">{{ item.text }}<a class="more-link blue-1" href="#">Подробнее</a></p>
            <!-- responsible-divider -->
            <div class="d-lg-none mt-3"></div>
            <div class="d-none d-lg-block mt-5"></div>
            <div class="book-btn">
              <div class="bbtn blue skew"><span>Забронировать</span></div>
            </div>
          </b-col>
          <b-col cols="12" sm="12" lg="3" class="offer">
            <div class="d-lg-none mt-3"></div>
            <span class="h2">{{ item.price }}</span>
            <p class="detail">Ваше вознаграждение {{ item.affiliateValue }}</p>
            <b-button id="button-2" v-if="item.saleIcon" class="bbtn-sale">
              <img src="img/icons/sale.svg" alt="" />
              <span>%</span>
            </b-button>
            <b-tooltip target="button-2" placement="rightbottom" custom-class="tooltip-skew">
              <span class="skew"><span>Процент происходит от суммы сделки менеджера и собаки с лицом человека</span></span>
            </b-tooltip>
          </b-col>
        </b-row>
        <!-- responsible-divider -->
      </b-container>
      <b-container v-if="view.isActive&&view.code==='catalog'">{{ view.name }}</b-container>
      <b-container v-if="view.isActive&&view.code==='table'">{{ view.name }}</b-container>
    </div>
    <div class="bottom-offers mt-4 mb-5">
      <b-container>
        <span class="h4">Другие предложения slider</span>
        <div class="offers-slider">
          <slick ref="slick" :options="slickOptions">
            <div v-for=" (offer,i) in offers.concat(offers)" :key="'offer-'+i">
              <div class="bottom-offer mb-3">
                <div class="offer-header" :style="{'background-image': 'url('+offer.img+')'}"></div>
                <div class="p-3">
                  <span class="h3 blue-1"><a href="#">{{ offer.title }}</a></span>
                  <span class="mt-3 h3">{{ offer.price }}</span>
                  <span class="mt-3 h3 gray">{{ offer.address }}</span>
                </div>
              </div>
            </div>
          </slick>
        </div>
      </b-container>
    </div>
    <b-container class=" mt-3">
      <b-row class="mb-5">
        <b-col cols="12" sm="12" lg="5">
          <b-row no-gutters>
            <b-col cols="12" sm="9" class="active-preview" :style="{'background-image': 'url('+items[0].selectedPicture.src||items[0].selectedPicture.href+')'}">
            </b-col>
            <b-col cols="12" sm="3" class="other-preview">
              <img v-for="(pic,pIdx) in items[0].pictures" :key="'slide-pic-' + pIdx" :class="{selected: items[0].selectedPicture.src===pic.src}" :src="pic.src||pic.href" :alt="pic.alt" @click="items[0].selectedPicture = pic" />
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="12" sm="12" lg="4" class="desc">
          <div class="d-lg-none mt-3"></div>
          <span class="h3 blue-2">{{ items[0].discount }}</span>
          <span class="h3">{{ items[0].title }}</span>
          <span class="h3 station">{{ items[0].station }}</span>
          <!-- responsible-divider -->
          <div class="d-lg-none mt-3"></div>
          <div class="d-none d-lg-block mt-5"></div>
          <p class="">{{ items[0].text }}<a class="more-link blue-1" href="#">Подробнее</a></p>
          <!-- responsible-divider -->
          <div class="d-lg-none mt-3"></div>
          <div class="d-none d-lg-block mt-5"></div>
          <div class="book-btn">
            <div class="bbtn blue skew"><span>Забронировать</span></div>
          </div>
        </b-col>
        <b-col cols="12" sm="12" lg="3" class="offer">
          <div class="d-lg-none mt-3"></div>
          <span class="h2">{{ items[0].price }}</span>
          <p class="detail">Ваше вознаграждение {{ items[0].affiliateValue }}</p>
          <b-button id="button-2" v-if="items[0].saleIcon" class="bbtn-sale">
            <img src="img/icons/sale.svg" alt="" />
            <span>%</span>
          </b-button>
          <b-tooltip target="button-2" placement="rightbottom" custom-class="tooltip-skew">
            <span class="skew"><span>Процент происходит от суммы сделки менеджера и собаки с лицом человека</span></span>
          </b-tooltip>
        </b-col>
      </b-row>
    </b-container>
    <b-container class="mt-4 mb-4">
      <b-row class="align-items-center justify-content-center">
        <span class="pagination-text mr-4">{{ currentPage }} из {{ rows }}</span>
        <b-pagination v-model="currentPage" :total-rows="rows" size="sm"></b-pagination>
      </b-row>
    </b-container>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>