<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>КНАМ Недвижимость</title>
  <link type="text/css" rel="stylesheet" href="./css/style.css" />
  <link type="text/css" rel="stylesheet" href="./fonts/Oswald/stylesheet.css" />
  
</head>

<body>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="dark" class="main-header"  v-click-outside="closeNav">
      <div class="main-header-bg"></div>
      <b-navbar-brand href="#" class="logo">
        <img src="./img/main/logo.svg" alt="" class="logo_img" />
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav  v-model="showNav">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-text>
            <a href="#" class="header-link underlined">Как работать с площадкой</a>
          </b-nav-text>
          <b-nav-item-dropdown :text="location.name" right class="lang-item">
            <b-dropdown-item href="#" v-for="loc in locations" :key="loc.code">{{ loc.name }}</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-text class="langs">
            <a href="#">EN</a>
            <span> | </span>
            <a class="active">RU</a>
          </b-nav-text>
          <b-nav-item href="#" class="lock-icon">
            <img src="./img/icons/lock-open.svg" alt="" />
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-container fluid class="filter filter-vidy">
      <b-container>
        <div @click.stop="detailFilter=false" class="filter-bg-vidy"></div>
        <!-- filter -->
        <b-row class="justify-content-md-center filter-wrap" :class="{mobileFilter:useMobileFilter&&detailFilter}">
          <b-col cols="12" md="12">
            <div v-click-outside="closeDetailFilter">
              <b-row class="justify-content-md-left no-gutters">
                <b-col cols="12" md="auto" class="media-body filter-tag-left"
                  v-if="searchType===searchTypes.SEARCH_BY_TAG">
                  <div class="skew bg-white input-with-icon" @click="focusInput">
                    <button class="bbtn bbtn-search">
                      <img src="img/icons/search.svg" alt="" />
                    </button>
                    <ul
                      ref="search_tags"
                      class="grey search-tags"
                    >
                      <li class="skew" v-for="(tag,i) in searchActiveResultsByTag" :key="'s-tag'+i"
                        @click="removeVariantFromTagSearch(i)">
                        <span>{{tag}}</span>
                      </li>
                      <li class="search-tags-input">
                        <input
                          v-model="searchText"
                          @keydown.delete="deleteFilterResults"
                          @keydown.enter="addToSearch(searchText)"
                          :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                          type="text"
                          ref="search_input"
                        />
                      </li>
                    </ul>
                    <input
                      v-model="searchText"
                      @keydown.delete="deleteFilterResults"
                      @keydown.enter="addToSearch(searchText)"
                      :placeholder="!searchActiveResultsByTag.length ? 'Начните вводить теги' : 'добавьте еще тегов'"
                      type="text"
                      ref="search_input"
                      class="mobile-search-input"
                    />
                    <template v-if="useMobileFilter&&detailFilter">
                      <button class="bbtn bbtn-details" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">
                        <img src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg" alt="" />
                      </button>
                      <button class="bbtn bbtn-close" @click.stop="detailFilter=false">
                        <img src="https://www.avito.st/mstatic/build/b9f88d28d55a16070079bbe097adff6a.svg" alt="" />
                      </button>
                    </template>
                  </div>
                </b-col>
                <b-col cols="12" md="auto" v-if="searchType===searchTypes.SEARCH_BY_FILTER" class="filter-left">
                  <b-row align-v="center" v-if="useMobileFilter" class="nav-mobile-top">
                    <b-col cols="2" class="text-center">
                      <div class="back-bbtn" @click="mobileCloseFromFilter">
                        <img src="https://www.avito.st/mstatic/build/7d10231595fa386f534c52c7b6c65372.svg"
                          alt="close" />
                      </div>
                    </b-col>
                    <b-col cols="9"><span class="blue text-center">Фильтр</span></b-col>
                    <button
                      class="bbtn-tags"
                      @click="showMainFilter(searchTypes.SEARCH_BY_TAG)"
                    >
                      <img
                        src="https://www.avito.st/mstatic/build/6dd38f797f2297b9ec2a8af0bcf6cee7.svg"
                        alt=""
                      />
                    </button>
                  </b-row>

                  <ul class="skew main-filter" @click="detailFilter=true">
                    <li @click="setFilterParam('area')" class="main-filter__two-col"><span>Квартиру</span></li>
                    <li @click="setFilterParam('category')"  class="main-filter__two-col"><span>Категория</span></li>
                    <li @click="setFilterParam('size')"><span>1.2 комн.</span></li>
                    <li  class="main-filter__two-col">
                      <span
                        >от
                        <input
                          class="clean-input"
                          placeholder="0"
                          type="number"
                          v-model.number="fromPrice"
                          pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;"
                        />
                        млн/&#8381;</span
                      >
                    </li>
                    <li  class="main-filter__two-col">
                      <span
                        >до
                        <input
                          class="clean-input"
                          placeholder="2500"
                          type="number"
                          v-model.number="upToPrice"
                          pattern="\d*"
                          onKeyPress="if(this.value.length==4) return false;"
                        />
                        млн/&#8381;</span
                      >
                    </li>
                    <li @click="setFilterParam('address')">
                      <span>Город, адрес, метро, район, ЖК<br />Москва</span>
                    </li>
                  </ul>
                </b-col>

                <b-col cols="12" md="auto">
                  <div class="bbtn blue skew main-search-button">
                    <span>{{searchButtonTitle}}</span>
                  </div>
                </b-col>
              </b-row>
              <b-row class="no-gutters justify-content-md-left" v-show="detailFilter">
                <div class="detail-filter mt-2 p-3">
                  <template v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                    <template v-if="currentFilterParam==='area'">
                      <b-row>
                        <b-col cols="12" md="2" :class="!useMobileFilter?'text-right':''">Жилая</b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey-border search-by-filter">
                            <li class="skew" :class="{active:item.active}" @click="item.active=!item.active"
                              v-for="(item,i) in areas.live" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                      <b-row class="mt-3">
                        <b-col cols="12" md="2" :class="!useMobileFilter?'text-right':''">Коммерческая</b-col>
                        <b-col cols="12" md="10">
                          <ul class="grey search-by-filter">
                            <li class="skew" :class="{active:item.active}" @click="item.active=!item.active"
                              v-for="(item,i) in areas.commercial" :key="'live-'+i">
                              <span>{{item.name}}</span>
                            </li>
                          </ul>
                        </b-col>
                      </b-row>
                    </template>
                    <template v-if="currentFilterParam==='area'"></template>
                    <template v-if="currentFilterParam==='category'">
                      содержание фильтра category
                    </template>
                    <template v-if="currentFilterParam==='size'">
                      содержание фильтра size
                    </template>
                    <template v-if="currentFilterParam==='address'">
                      содержание фильтра address
                    </template>
                  </template>
                  <template v-if="searchType===searchTypes.SEARCH_BY_TAG">
                    <b-row>
                      <ul class="search-by-tag-results">
                        <li class="empty-search-by-tag" v-if="!searchResultsByTag.length">
                          Нет данных, введите другой запрос
                        </li>
                        <li v-for="(res,i) in searchResultsByTag" :key="'res'+i" @click="addToSearch(res)">
                          {{res}}
                        </li>
                      </ul>
                    </b-row>
                  </template>
                  <b-row v-if="!useMobileFilter" class="pt-5 justify-content-md-center">
                    <b-col cols="6" sm="6" lg="3" class="text-center">
                      <a class="search-option">Поиск по карте</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                      <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по тегам</a>
                    </b-col>
                    <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                      <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по
                        фильтру</a>
                    </b-col>
                  </b-row>
                </div>
              </b-row>
            </div>
            <b-row class="pt-5 justify-content-md-center" v-show="!detailFilter">
              <b-col cols="6" sm="6" lg="2" class="text-center">
                <a class="search-option">Поиск по карте</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_FILTER">
                <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_TAG)">Поиск по тегам</a>
              </b-col>
              <b-col cols="6" sm="6" lg="3" class="text-center" v-if="searchType===searchTypes.SEARCH_BY_TAG">
                <a class="search-option" @click="showMainFilter(searchTypes.SEARCH_BY_FILTER)">Поиск по фильтру</a>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </b-container>
    <div class="tabs tabs-with-icons">
      <b-container>
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <ul>
              <li v-for="view in views" :key="view.code" @click="setView(view)"
                :class="{ skew:true, active:view.isActive }">
                <span>{{ view.name }}</span>
              </li>
            </ul>
          </b-col>
          <b-col cols="auto">
            <ul class="list-icons">
              <li>
                <a href="#" id="pdf-save"><img src="img/icons/pdf.svg" alt=""></a>
                <b-tooltip target="pdf-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Сохранить в PDF</span></span>
                </b-tooltip>
              </li>
              <li>
                <a href="#" id="message-save"><img src="img/icons/message.svg" alt=""></a>
                <b-tooltip target="message-save" placement="rightbottom" custom-class="tooltip-skew">
                  <span class="skew"><span>Отправить письмом</span></span>
                </b-tooltip>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="content-wrapper" v-for="view in views" :key="view.code">
      <b-container v-if="view.isActive&&view.code==='general'">
        <b-table-simple responsive="xl" small class="offers-table">
          <b-thead>
            <b-tr>
              <b-th>Лест.</b-th>
              <b-th>Объект</b-th>
              <b-th>Этажей</b-th>
              <b-th>Этаж</b-th>
              <b-th>Sобщ</b-th>
              <b-th>Sжил</b-th>
              <b-th>Sкук</b-th>
              <b-th>Комнаты</b-th>
              <b-th>Отд.</b-th>
              <b-th>С\у</b-th>
              <b-th>Балк</b-th>
              <b-th>Цена, ₽</b-th>
              <b-th>₽ pа м2</b-th>
              <b-th>Баз цена, ₽</b-th>
              <b-th>Продавец</b-th>
              <b-th>Обновлено</b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>
            <b-tr>
              <b-th class="border-top">3</b-th>
              <b-th>3 К</b-th>
              <b-td>6</b-td>
              <b-td>23,34</b-td>
              <b-td>76</b-td>
              <b-td>76,77</b-td>
              <b-td>12,34</b-td>
              <b-td>21.20 + 15.40 + 13.56</b-td>
              <b-td>Черн</b-td>
              <b-td>3</b-td>
              <b-td>Л</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td class="table-price">345 789</b-td>
              <b-td class="table-price">34 586 697</b-td>
              <b-td>
                <span id="company-1" class="table-name-company">Эталон инвест</span>
                <b-tooltip target="company-1" placement="right" custom-class="tooltip-skew">
                  <span class="skew"><span>Эталон инвест</span></span>
                </b-tooltip>
              </b-td>
              <b-td>09. 10. 19</b-td>
            </b-tr>

          </b-tbody>
        </b-table-simple>
        <b-row class="align-items-center justify-content-center">
          <span class="pagination-text mr-4">{{ currentPage }} из {{ rows }}</span>
          <b-pagination v-model="currentPage" :total-rows="rows" size="sm"></b-pagination>
        </b-row>
        <!-- responsible-divider -->
      </b-container>
      <b-container v-if="view.isActive&&view.code==='catalog'">{{ view.name }}</b-container>
      <b-container v-if="view.isActive&&view.code==='table'">{{ view.name }}</b-container>
    </div>
    <div class="bottom-offers mt-4 mb-5">
      <b-container>
        <span class="h4">Другие предложения slider</span>
        <div class="offers-slider">
          <slick
            ref="slick"
            :options="slickOptions"
          >
            <div v-for="(offer,i) in offers.concat(offers)" :key="'offer-'+i" style="width:150px">
              <div class="bottom-offer mb-3">
                <div
                  class="offer-header"
                  :style="{'background-image': 'url('+offer.img+')'}"
                ></div>
                <div class="p-3">
                  <span class="h3 blue-1"><a href="#">{{ offer.title }}</a></span>
                  <span class="mt-3 h3">{{ offer.price }}</span>
                  <span class="mt-3 h3 gray">{{ offer.address }}</span>
                </div>
              </div>
            </div>
          </slick>
        </div>
      </b-container>
    </div>
    <div class="footer-grey ">
      <b-container class="footer  p-3">
        <b-row class="align-items-center">
          <b-col cols="auto" class="mr-auto">
            <b-navbar-brand href="#" class="logo-grey">
              <img src="./img/main/logo-grey.svg" alt="" class="logo_img" />
            </b-navbar-brand>
            <span class="copyright">2019 © </span>
          </b-col>
          <b-col cols="auto">
            <b-navbar toggleable="lg" type="light">
              <b-navbar-nav>
                <b-nav-item href="#" class="underline">Написать в поддержку</b-nav-item>
                <b-nav-item href="#" class="underline">Система вознаграждений</b-nav-item>
              </b-navbar-nav>
            </b-navbar>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
  <script src="./dist/bundle.js"></script>
</body>

</html>